.bgimg{
    background-image: url('https://livedemo00.template-help.com/wt_60075_v2/images/backgrounds/background-21-1920x900.jpg');
    color: rgb(42, 28, 28);
    font-weight: 700;
    height: 100vh;
    width: 100vw;
}