
.logo-img{
  width: 6rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.drop-icon{
  border-radius: 50%;
  width: 3rem;
  margin-left: 1rem;
}
.signbtn{
  background-color: #faae4a;
    color: #fff;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    border: 0px;
    text-align: center;
}
.profilebtn{
  background-color: #faae4a;
    color: #fff;
    padding: 10px;
    width: 120px;
    border-radius: 30px;
    border: 0px;
}
.profilebtn:hover{
  background-color: rgb(156, 238, 191);
}